// Import Bootstrap
@import "freelancer/src/scss/bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "freelancer/src/scss/_global.scss";
@import "freelancer/src/scss/_divider.scss";
@import "freelancer/src/scss/_buttons.scss";
@import "freelancer/src/scss/_navbar.scss";
@import "freelancer/src/scss/_masthead.scss";
@import "freelancer/src/scss/_portfolio.scss";
@import "freelancer/src/scss/_contact.scss";
@import "freelancer/src/scss/_footer.scss";

@font-face {
    font-family: "Pervitina-Dex-FFP";
    src: url("/static/fonts/Pervitina-Dex-FFP.ttf");
}
@font-face {
    font-family: "FriendlySchoolMateRegular";
    src: url("/static/fonts/FriendlySchoolmates\(Regular\).otf");
}
@font-face {
    font-family: "FriendlySchoolMateItalic";
    src: url("/static/fonts/FriendlySchoolmates\(Italic\).otf");
}
@font-face {
    font-family: "DaddyInSpace";
    src: url("/static/fonts/DaddyInSpace.otf");
}
body {
    overflow: visible;
}
#mainNav {
    border: $black;
    border-bottom-style: solid;
    border-width: 0.40em;
}
* {
    font-family: "FriendlySchoolMateRegular";
    font-size: 1.025em;
    color: $black;
    scrollbar-color: darken($secondary, 20%) $secondary;
    scrollbar-width: auto;
    .italicFont {
        font-family: "FriendlySchoolMateItalic";
        font-size: 1.025em;
    }
}
.bg-main {
    background-image: url("/static/img/backgroundGlob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-deck {
    background-image: url("/static/img/backgroundStatBook.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    > * {
        padding-top: 45px;
        padding-bottom: 45px;
        &:first-of-type {
            padding-left: 45px;
        }
        &:last-of-type {
            padding-right: 45px;
        }
    }
}
.bg-table {
    background-image: url("/static/img/backgroundTable.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-Earthsign {
    background-image: url("/static/img/EarthSign.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    > * {
        padding-top: 15px;
        padding-bottom: 35px;
    }
}
.bg-notes {
    background-image: url("/static/img/note.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-navbar {
    background-image: url("/static/img/navbar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-footer {
    background-image: url("/static/img/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hiddenScrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    scrollbar-color: auto;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}
h6, h5, h4, h3, h2, h1, .mobName {
    font-family: "DaddyInSpace";
}
.center {
    text-align: center;
    align-items: center;
}
.bordered {
    border: darken($primary, 50%);
    border-width: 0.25em;
    border-style: solid;
    padding: 0.25em;
}
.bg-ternary {
    background-color: $ternary;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: $sideBarValueLeft;
        padding-right: $sideBarValueRight;
        #overleft {
            width: $sideBarValueLeft;
        }
        #overright {
            width: $sideBarValueRight;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -$sideBarValueRight;
            margin-left: -$sideBarValueLeft;
        }
    }
}
.overNav {
    z-index: 1000;
    position: fixed;
    align-items: center;
    text-align: center;
    &#overright {
        right: $sideBarValueRight;
        margin-right: -$sideBarValueRight;
    }
    &#overleft {
        left: $sideBarValueLeft;
        margin-left: -$sideBarValueLeft;
    }
    width: 0;
    height: 97.5%;
    overflow-y: auto;
}
#page-content-wrapper {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    position: absolute;
    border: darken($primary, 50%);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 0.40em;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: $sideBarValueLeft;
        padding-right: $sideBarValueRight;
        &.toggled {
            padding-left: 0;
            #overleft, #overright {
                width: 0;
            }
            #page-content-wrapper {
                margin: 0;
            }
        }
    }
    #overleft {
        width: $sideBarValueLeft;
    }
    #overright {
        width: $sideBarValueRight;
    }
    #page-content-wrapper {
        padding: 0;
        width: calc(100% - (#{$sideBarValueLeft} + #{$sideBarValueRight}));
    }
}

.hinted {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $black;
}

.hinted {
    &.active > .hint {
        visibility: visible;
    }
    & > .hint {
        visibility: hidden;
        background-color: $ternary;
        color: $secondary;
        text-align: center;
        border-radius: 0.35em;
        padding: 0.5em;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        font-size: small;
        margin-bottom: 15%;
        left:0%;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -0.5em;
            border-width: 0.5em;
            border-style: solid;
            border-color: $ternary transparent transparent transparent;
        }
    }
}

.sdl {
    margin-bottom: 2em;
}
a {
    color: $secondary;
}
#main {
    a {
        color: darken($primary, 15%);
        &:hover {
            color: darken($primary, 30%);
        }
    }
}
.withoutPuce {
    list-style: none;
    padding-left: 0;
}
.separator {
    border-color: darken($primary, 20%);
    border-width: 0.15em;
    border-style: solid;
    padding: 0.15em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.navbar-form {
    margin-bottom: 0;
}
.custom-nav-ul {
    > li {
        text-align: center;
    }
}
.custom-nav-link {
    color:$white;
    text-align: center;
}
.showed {
    display: block;
}
.hidden {
    display: none;
}