@import "vars.scss";

$sideBarValueRight: 25%;
$primary: #888888;

@import "base.scss";

.mobsFamily {
    padding: 0;
    * {
        display: inline-block;
        text-align: center;
    }
    .rolesImg {
        img {
            width: 32.5%;
            height: auto;
        }
    }
}
.familyMobList {
    padding: 0;
    height: 15em;
    overflow-y: auto;
    background-color: lighten($primary, 15%);
}