.spell-container {
    position: relative;
}
.table-deck {
    display: flex;
}
.spell-content {
    padding: 5rem;
    display: none;
}
.spell-content:target {
    display: inline;
}
.spell-display {
    overflow-y: none;
    min-height: 35em;
    border-left: 0;
    a {
        color: $ternary;
        &:hover {
            color: $primary;
        }
    }
}
.spell-title {
    overflow-y: auto;
    height: 18.5%;
}
.spell-img {
    overflow-y: auto;
    height: 45%;
}
.spell-stats {
    overflow-y: auto;
    height: 22.5%;
    * {
        font-size: 0.95em;
    }
}
.effect-title {
    text-decoration: underline;
    font-size: 1.05em;
}
.logo-spell {
	height: 1.1em;
    width: 1.1em;
}
.desc-ico {
	height: 1.25em;
    width: 1.25em;
}
.effectSwitch {
    display: inline;
    block-size: 2.5em;
    border: darken($primary, 50%);
    border-width: 0.25em;
    border-style: solid;
    padding: 0.25em;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    padding-left: 0;
    a {
        border-bottom: 0;
        border-left:0;
        padding-bottom: 0.25em;
    }
}
.locationLink {
    text-decoration: none;
    background-color: darken($secondary, 15%);
}
.modal {
    z-index: 1000;
    display: none;
    top: 7.5em;
    left: 52.5%;
    height: 17.5em;
    width: 42.5%;
    position: absolute;
}
.modal-layout {
    height: 17.5em;
    .modal-content {
        padding: 1em;
        background-color: lighten($primary, 25%);
        overflow-y: auto;
        height: calc(100% - 5em);
        border-radius: 0;
        font-size: 1.15em;
    }
    .with-footer {
        height: calc(100% - 10em);
        font-size: 1.25em;
    }
    .modal-footer {
        height: 6em;
        padding: 1em;
        background-color: lighten($primary, 25%);
        display: block;
        * {
            display: inline;
            color: darken($secondary, 50%);
            font-size: small;
        }
        select {
            max-width: 30%;
        }
    }
    .modal-header {
        background-color: lighten($ternary, 25%);
        padding: 1em;
        height: 6em;
        display: block;
        * {
            display: inline;
            color: darken($secondary, 50%);
            font-size: medium;
        }
    }
}
.modal-launch {
    display: inline;
    text-decoration: underline;
    overflow: auto;
    cursor: pointer;
    color: $ternary;
    &:hover {
        color: $primary;
    }
}
.close {
    color: $secondary;
    float: right;
    font-size: 1.70em !important;
    font-weight: bold;
    
}
.close:hover, .close:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
}
.spell-gif {
    height: 15em;
    width: 15em;
}
.spell-ico {
    height: 3em;
    width: 3em;
}