.table-mob {
    padding: 0em;
    display: flex;
    text-align: center;
    .mob-block {
        padding: 0.5em;
        align-items: center;
        margin: 0.5em;
        .table-flex {
            display: block;
            text-align: center;
            align-items: center;
            * {
                text-align: center;
                align-items: center;
                display: inline-block;
            }
        }
        .separator {
            * {
                padding-top: 0em;
                padding-bottom: 0em;
            }
        }
    }
    .mob-block-principal {
        padding: 0.5em;
        align-items: center;
        text-align: left;
        font-size: 0.90em;
        height: calc(100% - 1em);
        }
    * {
        margin: 0em;
        align-items: center;
    }
    a {
        color: $primary;
    }
}
.mobName {
    text-align: center;
}
.imgRoles img {
    width : 15%;
}
.upperStats {
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.mobTable {
    display: block;
    > * {
        display: inline-block;
    }
    .mobImg {
        width: 80%;
        margin-left: 17.5%;
        padding: 0;
    }
    .descriptionSection {
        margin-left: -1%;
    }
}
.majImg {
    width: 10%;
    height: auto;
}
.downResi {
    color : $red;
}
.notesStats {
    z-index: 15;
    transform: rotate(10deg);
}