{%- import 'base_process.jinja' as process -%}
<html>
    <head>
        {%- block head -%}
            <meta charset="utf-8"/>
            <title>{%- block title -%}WakDex{%- endblock -%}</title>
            <meta name="description" content="{%- block description -%}WakDex Home Page{%- endblock -%}"/>
            <meta name="keywords" content="Wakfu"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
            {%- block assets -%}
                {%- assets "scss_base" -%}
                    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
                {%- endassets -%}
            {%- endblock -%}
            {%- block link -%}
                <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
            {%- endblock -%}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        {%- endblock -%}
    </head>
    <body class="hiddenScrollbar">
        <script>
            {%- block script -%}
                function reveal(element) {
                    if (element.classList.contains("active")) {
                        element.classList.remove("active");
                    } else {
                        element.classList.add("active");
                    }
                }
            {%- endblock -%}
        </script>
        {%- block body -%}
            <nav class="navbar navbar-expand-lg bg-navbar fixed-top" id="mainNav">
                {%- block navbar -%}
                    <div class="container">
                        <a class="navbar-brand js-scroll-trigger" href="/">WakDex</a>
                        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item mx-0 mx-lg-1">
                                    <form class="navbar-form" action="/search" method="GET"> 
                                        <div class="input-group">
                                            <ul class="withoutPuce custom-nav-ul">
                                                <li>
                                                    <input type="text" name="name" value="" class="form-control">
                                                </li>
                                                <li>
                                                    <a class="custom-nav-link" href="/advancedSearch">Recherche avancée</a>
                                                </li>
                                            </ul>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" type="submit">🔎</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mob/1">Bouchtrou</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {%- endblock -%}
            </nav>
            <div class="sdl"></div>
            {%- block mainContent -%}
                <div id="wrapper">
                    <div class="overNav bg-ternary page-section" id="overleft">
                        {%- block overleft -%}
                            {%- for i in range(150) -%}
                                <p>Recherche récente {{i + 1}}</p>
                            {%- endfor -%}
                        {%- endblock -%}
                    </div>
                    <div class="overNav bg-ternary page-section" id="overright">
                        {%- block overright -%}
                            {%- for i in range(150) -%}
                                <p>Ajout récent {{i + 1}}</p>
                            {%- endfor -%}
                        {%- endblock -%}
                    </div>
                    <div class="container-fluid" id="page-content-wrapper">
                        <section {{ process.addClassContent() }}>
                            {%- block content -%}
                            {%- endblock -%}
                        </section>
                        {%- block footer -%}
                            {{ process.Allfooter() }}
                        {%- endblock -%}
                    </div>
                </div>
            {%- endblock -%}
        {%- endblock -%}
        <!-- Copyright Section-->
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        {%- block backscript -%}
        {%- endblock -%}
    </body>
</html>
