{%- extends "base.jinja" -%}
{%- block mainContent -%}
    <section {{ process.addClassContent() }}>
        {%- block content -%}
        {%- endblock -%}
    </section>
    {%- block footer -%}
        {{ process.Allfooter() }}
    {%- endblock -%}
{%- endblock -%}