{%- macro addClassContent() -%}class="page-section bg-main text-white mb-0" id="main"{%- endmacro -%}
{%- macro footerContent() -%}
    <div class="container">
        <div class="row">
            <!-- Footer Ankama-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-6">WAKFU MMORPG</h6>
                <small class="pre-wrap">© 2012-2020 Ankama Studio.</small>
                <small class="pre-wrap">Tous droits réservés. WAKFU et ANKAMA sont des marques ou des marques déposées d’Ankama en France et/ou dans d’autres pays.</small>
            </div>
            <!-- Footer Social Discord-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Discord</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://discord.gg/9sjdyspDdf"><i class="fab fa-discord"></i></a>
            </div>
            <!-- Footer Waktisanat-->
            <div class="col-lg-4">
                <h4 class="mb-4">Wakdex</h4>
                <small class="pre-wrap">Le site Wakdex est un site non-officiel sans aucun lien avec Ankama</small>
            </div>
        </div>
    </div>
{%- endmacro -%}
{%- macro Allfooter() -%}
    <footer class="footer text-center bg-footer">
        {{ footerContent() }}
    </footer>
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Ce site exploite des cookies afin de permettre la gestion de l'authentification.</small></div>
    </section>
{%- endmacro -%}