{%- import 'leveled_process.jinja' as leveled -%}
{%- macro processEffect(spell, value, prefix, int, eval, level = "") -%}
    {%- for data in  value.split("`") -%}
        {%- if data[0:2] == "E-" -%}
            {%- set effect = spell.effect[int(data[2:])] -%}
            {%- set idRef = "%s-%s-%s" % (prefix, data, level) -%}
            <div class="modal-launch" id="{{ idRef }}-O">"{{ effect.name }}"</div>
            <div class="modal" id="{{ idRef }}">
                <div class="modal-layout center">
                    <div class="modal-header center container">
                        <div class="col-4">
                            {%- if effect.ico != none -%}
                                <img src="{{ effect.ico}}" class="spell-ico"/>
                            {%- endif -%}
                        </div>
                        <div class="col-6">
                            <div class="effect-title">{{ effect.name }}</div>
                        </div>
                        <div class="col-4">
                            <div class="close" id="{{ idRef }}-C">&times;</div>
                        </div>
                    </div>
                    <div class="modal-content {% if effect.leveled == true %}with-footer{% endif %} center">
                        {%- if effect.leveled == true -%}
                            {{ leveled.processLeveledContent(effect, effect.desc, idRef, int, eval) }}
                        {%- else -%}
                            <ul>
                                {%- for point in effect.desc -%}
                                    <li>{{ point }}</li>
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    </div>
                    {%- if effect.leveled == true -%}
                        <div class="modal-footer center">
                            {{ leveled.createLeveledSelect(effect, idRef) }}
                        </div>
                        {{ leveled.createLeveledScript(idRef) }}
                    {%- endif -%}
                </div>
            </div>
            <script>
                modalsStats("{{ idRef }}");
            </script>
        {%- elif data[0:2] == "A-" -%}
            {%- set asset = spell.assets[int(data[2:])] -%}
            <img src="{{ asset }}" class="desc-ico"/>
        {%- elif data[0:2] == "C-" -%}
            {{ "`%s`" % data }}
        {%- else -%}
            {{ data }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}