{%- extends "base.jinja" -%}
{%- block title -%}WakDex - {{ family.name }}{%- endblock -%}
{%- block description -%}{{ family.description }}{%- endblock -%}
{%- import 'min_max_process.jinja' as minMax -%}
{%- block assets -%}
    {%- assets "scss_family" -%}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {%- endassets -%}
{%- endblock -%}
{%- block link -%}
    <link rel="shortcut icon" href="{{ family.img }}" type="image/x-icon">
{%- endblock -%}
{%- block overright -%}
    <form action="/family/{{ family.id }}" method="GET">
        <ul class="withoutPuce">
            <li>
                <input name="name" type="text"><button class="btn btn-outline-secondary" type="submit">🔎</button>
            </li>
            <li>
                <select name="lvl">Tranche:
                    <option value="-1" selected="">N'importe quelle tranche</option>
                    <option value="1">Grossière</option>
                </select>
                <select name="lvl">Localisation:
                    <option value="-1" selected="">N'importe quelle localisation</option>
                    <option value="1">Tainela</option>
                </select>
            </li>
        </ul>
    </form>
    <p class="separator"><img src="{{ family.img }}"/>Famille Bouftou</p>
    {%- for familyLink in familys -%}
        <p class="separator"><a href="/family/{{familyLink.id}}">Famille {{ familyLink.name }}</a></p>
    {%- endfor -%}
{%- endblock -%}
{%- block content -%}
<h1><img src="{{ family.img }}"/>Famille {{ family.name }}</h1>
<p>Localisation{%- if (family.locations|length > 1) -%}s{%- endif -%} :</p>
<ul>
    {%- for location in family.locations -%}
        <li><img src="/static/img/location.png"/> {{ location }}</li>
    {%- endfor -%}
</ul>
<p>Tranche : {{ family.lvl }}</p>
<p>Donjon{%- if (family.donjons|length > 1) -%}s{%- endif -%} :</p>
<ul>
    {%- for donj in family.donjons -%}
        <li>{{ donj }}</li>
    {%- endfor -%}
</ul>
<p>Mob{% if (family.mobs|length > 1) %}s{% endif %} de la famille :</p>
<div class="container mobsFamily separator">
    <div class="col-2"></div>
    <div class="col-2">Type</div>
    <div class="col-3">Nom</div>
    <div class="col-2">Niveau</div>
    <div class="col-1">Rôles</div>
</div>
<ul class="withoutPuce familyMobList separator">
    {%- for indice in range(family.mobs|length) -%}
        {%- set mob = family.mobs[indice] -%}
        <li>
            <div class="{% if indice + 1 < family.mobs|length %}separator {% endif %} container mobsFamily">
                <div class="col-2"><img src="{{ mob.asset }}"/></div>
                <div class="col-2">{{ mob.type }}</div>
                <div class="col-3"><a href="/mob/{{ mob.id }}">{{ mob.name }}</a></div>
                <div class="col-2">{{ minMax.minMax(mob.lvl)}}</div>
                <div class="col-1 rolesImg">
                    {%- for role in mob.roles -%}
                        <img src="{{ role.asset }}" alt="{{ role.name }}"/>
                    {%- endfor -%}
                </div>
            </div>
        </li>
    {%- endfor -%}
</ul>
{%- endblock -%}