{%- extends "base.jinja" -%}
{%- block title -%}WakDex - {{ httpCode }}{%- endblock -%}
{%- block description -%}{{ httpCode }} - {{ httpError }}{%- endblock -%}
{%- block content -%}
    <div class="ErrorPage">
        <h1>{{ httpCode }} - {{ httpError }}</h1>
        {%- if description != none -%}
            <p>{{ description }}</p>
        {%- endif -%}
    </div>
{%- endblock -%}