{%- macro inspectLineOfLeveled(leveled, line, level, int, eval) -%}
    {%- set ns = namespace(outLine="") -%}
    {%- for spec in line.split("`") -%}
        {%- if ns.outLine != false -%}
            {%- if spec[0:2] == "C-" -%}
                {%- if spec[2:].startswith("VALUE-") -%}
                    {%- set tempValue = spec[8:].replace("lvl", level.__str__()) -%}
                    {%- set ns.outLine = "%s%i" % (ns.outLine, eval(tempValue) if spec[8:] != "lvl" else int(tempValue)) -%}
                {%- elif spec[2:].startswith("MAX-") -%}
                    {%- if int(spec[6:]) < level -%}
                        {%- set ns.outLine = false -%}
                    {%- endif -%}
                {%- elif spec[2:].startswith("MIN-") -%}
                    {%- if int(spec[6:]) > level -%}
                        {%- set ns.outLine = false -%}
                    {%- endif -%}
                {%- elif spec[2:].startswith("EQUAL-") -%}
                    {%- if int(spec[8:]) != level -%}
                        {%- set ns.outLine = false -%}
                    {%- endif -%}
                {%- endif -%}
            {%- else -%}
                    {%- set ns.outLine = "%s%s" % (ns.outLine, spec) -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {{ ns.outLine }}
{%- endmacro -%}

{%- macro processLeveledContent(leveled, value, idRef, int, eval) -%}
<div id="{{ idRef }}-L">
    {#
        """
        Ici d'autre déclarations pour les effets interprété
        "`C-VALUE-lvl*3` = Lvl * 3"
        "`C-MAX-3`Etat des niveaux 1 à 3"
        "`C-EQUAL-3`Etat du niveau 3"
        "`C-MIN-3`Etat des niveaux 50 à 3"
        """
    #}
    {%- for level in range(leveled.minLvl, leveled.maxLvl + 1) -%}
        <ul id="{{ idRef }}-L-{{ level }}" class="hidden">
            {%- for point in value -%}
                {%- set outLine = inspectLineOfLeveled(leveled, point, level, int, value) %}
                {%- if outLine != false -%}
                    <li>{{ outLine }}</li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    {%- endfor -%}
</div>
{%- endmacro -%}
{%- macro createLeveledSelect(leveled, idRef) -%}
    <select id="{{ idRef }}-S">
        {%- for level in range(leveled.minLvl, leveled.maxLvl + 1) -%}
            <option value="{{ level }}" {{ "selected" if level == leveled.defaultLvl else "" }}>Niv. {{ level }}</option>
        {%- endfor -%}
    </select>
    <span>{{ leveled.minLvl }}</span>
    <input id="{{ idRef }}-I" type="range" value="{{ leveled.defaultLvl }}" min="{{ leveled.minLvl }}" max="{{ leveled.maxLvl }}" step="1">
    <span>{{ leveled.maxLvl }}</span>
{%- endmacro -%}
{%- macro createLeveledScript(idRef) -%}
    <script>
        selectLvlEffect("{{ idRef }}");
    </script>
{%- endmacro -%}