{%- macro minMax(object) -%}
    {{ minMaxWithoutObject(object.min, object.max) }}
{%- endmacro -%}
{%- macro minMaxWithoutObject(min, max) -%}
    {%- if max == min -%}{{ max }}{%- else -%}{{ min }} - {{ max }}{%- endif -%}
{%- endmacro -%}