{%- extends "base_light.jinja" -%}
{%- block title -%}WakDex - {{ mob.name }}{%- endblock -%}
{%- block description -%}{{ mob.description }}{%- endblock -%}
{%- import 'mob_process.jinja' as mobProcess -%}
{%- block assets -%}
    {%- assets "scss_mob" -%}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {%- endassets -%}
{%- endblock -%}
{%- block link -%}
    <link rel="shortcut icon" href="{{ mob.img }}" type="image/x-icon">
{%- endblock -%}
{%- block overright -%}
    {%- for i in range(150) -%}
        <p>Mobs de la même famille {{i + 1}}</p>
    {%- endfor -%}
{%- endblock -%}
{%- block content -%}
    <div class="bg-table">
        {{ mobProcess.mobDeck(mob, pow, int) }}
        <div class="sdl"></div>
        {{ mobProcess.mobSpell(mob, int, eval) }}
    </div>
{%- endblock -%}
{%- block script -%}
    {{ super() }}
    function modalsStats(target) {
        var modal = document.getElementById(target);
        var btn = document.getElementById(target + "-O");
        var span = document.getElementById(target + "-C");
        btn.onclick = function() {
            if (modal.style.display == "block")
                modal.style.display = "none";
            else
                modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
    };
    function selectLvlEffect(target) {
        var select = document.getElementById(target + "-S");
        var input = document.getElementById(target + "-I");
        function displayIndex(index) {
            input.value = select.value = index;
            var itemChild = document.getElementById(target+"-L").children;
            for (var i = 0; i < itemChild.length; i++) {
                itemChild.item(i).classList.replace("showed", "hidden");
            }
            document.getElementById(target+"-L-"+select.value).classList.replace("hidden", "showed");
        }
        displayIndex(select.value);
        select.onchange = function() {
            displayIndex(select.value);
        }
        input.onchange = function() {
            displayIndex(input.value);
        }
        input.oninput = function() {
            displayIndex(input.value);
        }
    };
{%- endblock -%}