{%- import 'effect_process.jinja' as effects -%}
{%- import 'min_max_process.jinja' as minMax -%}
{%- import 'leveled_process.jinja' as leveled -%}
{%- macro mobDeck(mob, pow, int) -%}
    <div class="container table-mob bg-deck">
        <div class="col-6">
            <div class="mob-block-principal">
                <h1 class="mobName">{{ mob.name }}</h1>
                <div class="table-list">
                    <div class="table-flex mobTable">
                        <div class="col-6 align-top">
                            <img src="{{ mob.img }}" class="mobImg"/>
                        </div>
                        <div class="col-4 descriptionSection">
                            <h5>Type :</h5>
                            <ul>
                                <li><img src="/static/img/{{ mob.type|lower }}.png"/> {{ mob.type }}</li>
                            </ul>
                            <h5>Famille :</h5>
                            <ul>
                                {%- for family in mob.family -%}
                                    <li><img src="/static/img/{{ family.name|lower }}.png"/> <a href="/family/{{ family.id }}">{{ family.name }}</a></li>
                                {%- endfor -%}
                            </ul>
                            <h5>Localisation :</h5>
                            <ul>
                                {%- for location in mob.location -%}
                                    <li><img src="/static/img/location.png"/> {{ location }}</li>
                                {%- endfor -%}
                            </ul>
                            <h5>{%- if mob.capturable == false %}Non {% endif -%}Capturable</h5>
                        </div>
                    </div>
                    <p>Description : {{ mob.description }}</p>
                    <p>Date d'ajout :</p>
                    <ul>
                        <li><img src="/static/img/maj-{{ mob.since.ref }}.png" class="majImg"/> {{ mob.since.ref}} - {{ mob.since.name }}</li>
                    </ul>
                    <h5>Rôles :</h5>
                    <div class="center ">
                        {%- for role in mob.roles -%}
                            <div class="hinted" onclick="reveal(this)">
                                <img src="{{ role.asset }}" alt="{{ role.name }}"/>
                                <span class="hint">{{ role.name }}</span>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="mob-block">
                <h5 class="separator">Secondaires :</h5>
                {%- for stat in mob.stats -%}
                    <div class="table-flex separator">
                        <div class="col-1">
                            <p><img src="/static/img/{{ stat.name }}.png"/></p>
                        </div>
                        <div class="col-4">
                            <p>{{ stat.desc }} :</p>
                        </div>
                        <div class="col-4">
                            <p class="upperStats">{{ minMax.minMax(stat) }}{%- if stat.suffix != none -%} {{ stat.suffix }}{%- endif -%}</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                {%- endfor -%}
            </div>
            <div class="mob-block">
                <h5 class="separator">Maîtrises :</h5>
                {%- for masterie in mob.masteries -%}
                    <div class="table-flex center separator">
                        <div class="col-1">
                            <img src="/static/img/{{ masterie }}.png"/>
                        </div>
                        <div class="col-1">
                            <img src="/static/img/mastery.png"/>
                        </div>
                        <div class="col-3">
                            {%- set mast = mob.masteries[masterie] -%}
                            <div class="upperStats">{{ minMax.minMax(mast) }}</div>
                        </div>
                        <div class="col-1">
                            <img src="/static/img/block.png"/>
                        </div>
                        <div class="col-3">
                            {%- set resi = mob.resistances[masterie] -%}
                            {%- set resiPourcentMin = int((1-pow(0.8,(resi.min/100)))*100) -%}
                            {%- set resiPourcentMax = int((1-pow(0.8,(resi.max/100)))*100) -%}
                            {%- set minRes = [resiPourcentMin, " % (", resi.min, ")"]| join -%}
                            {%- if resi.min < 0 -%}
                                {%- set minRes = "<span class=\"downResi\">%s</span>" % minRes -%}
                            {%- endif -%}
                            {%- set maxRes = [resiPourcentMax, " % (", resi.max, ")"]| join -%}
                            {%- if resi.max < 0 -%}
                                {%- set maxRes = "<span class=\"downResi\">%s</span>" % maxRes -%}
                            {%- endif -%}
                            <div class="upperStats">{{ minMax.minMaxWithoutObject(minRes, maxRes) }}</div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
        <div class="col-2">
            <div class="mob-block bg-notes notesStats">
                <div class=upperStats>
                    <div><h5>Niveau :</h5> {{ minMax.minMax(mob.lvl) }}</div>
                </div>
                <div class=upperStats>
                    <div><img src="/static/img/pv.png"/> {{ minMax.minMax(mob.pv) }}</div>
                </div>
                <div class=upperStats>
                    <div><img src="/static/img/pa.png"/> {{ mob.pa }} <img src="/static/img/pm.png"/> {{ mob.pm }} <img src="/static/img/pw.png"/> {{ mob.pw }}</div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro -%}
{%- macro spellHeader(spell) -%}
    <div class="spell-title center">
        <div>
            <img src="{{ spell.ico }}" class="spell-ico">
        </div>
        <div>{{ spell.name }}</div>
        <div>
            <span>{{ spell.cost }}<img src="/static/img/pa.png" class="logo-spell"/></span>
            <span>{{ minMax.minMax(spell.po) }}<img src="/static/img/po.png" class="logo-spell"/></span>
            {%- if spell.type == "mono" -%}
                <img src="/static/img/mono.png" class="logo-spell"/>
            {%- elif spell.type == "line" -%}
                <img src="/static/img/line.png" class="logo-spell"/>
            {%- elif spell.type == "area" -%}
                <img src="/static/img/area.png" class="logo-spell"/>
            {%- endif -%}
        </div>
    </div>
    <div class="spell-img center">
        <img src="{{ spell.gif }}" class="spell-gif"/>
    </div>
{%- endmacro -%}
{%- macro showSpell(mob, spell, int, eval) -%}
    {%- set id = "S-%i" % mob.spells.index(spell) -%}
    <div class="spell-content" id="{{ id }}">
        {{ spellHeader(spell) }}
        <div class="effectSwitch">
            <a href="#{{ id }}" class="locationLink bordered">Effet(s)</a>
            {%- if spell.condition|length > 0 or spell.target != none -%}
            <a href="#{{ id }}-C" class="bordered">Condition(s)</a>
            {%- endif -%}
        </div>
        <div class="spell-stats bordered">
            <ul>
                {%- for effect in spell.desc -%}
                    <li>{{ effects.processEffect(spell, effect, id, int, eval) }}</li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
    {%- if spell.condition|length > 0  or spell.target != none -%}
        <div class="spell-content" id="{{ id }}-C">
            {{ spellHeader(spell) }}
            <div class="effectSwitch">
                <a href="#{{ id }}" class="bordered">Effet(s)</a><a href="#{{ id }}-C" class="locationLink bordered">Condition(s)</a>
            </div>
            <div class="spell-stats bordered">
                <ul>
                    {%- for cond in spell.condition -%}
                        <li>{{ effects.processEffect(spell, cond, id, int, eval) }}</li>
                    {%- endfor -%}
                    {%- if spell.target != none and spell.target != "caster" -%}
                        {%- if spell.target == "enemy" -%}
                            {%- set target = "un ennemi" -%}
                            {%- set targetIco = "/static/img/enemy.png" -%}
                        {%- elif spell.target == "ally" -%}
                            {%- set target = "un allié" -%}
                            {%- set targetIco = "/static/img/ally.png" -%}
                        {%- elif spell.target == "target" -%}
                            {%- set target = "une entité" -%}
                            {%- set targetIco = "/static/img/target.png" -%}
                        {%- endif -%}
                        <li>La cible doit être {{ target }} (<img src="{{ targetIco }}" class="logo-spell"/>).</li>
                    {%- endif -%}
                </ul>
            </div>
        </div>
    {%- endif -%}
{%- endmacro -%}
{%- macro passiveHeader(passive) -%}
    <div class="spell-title center">
        <img src="{{ passive.ico }}" class="spell-ico"/>
        <div>{{ passive.name }}</div>
    </div>
    <div class="spell-img">
    </div>
{%- endmacro -%}
{%- macro showPassive(mob, passive, int, eval) -%}
    {%- set id = "P-%i" % mob.passives.index(passive) -%}
    <div class="spell-content" id="{{ id }}">
        {{ passiveHeader(passive) }}
        <div class="effectSwitch">
            <a href="#{{ id }}" class="locationLink bordered">Effet(s)</a>
            {%- if passive.condition|length > 0 -%}
            <a href="#{{ id }}-C" class="bordered">Condition(s)</a>
            {%- endif -%}
        </div>
        <div class="spell-stats bordered">
            {%- if passive.leveled == True -%}
                <div id="{{ id }}-L">
                    {%- for level in range(passive.minLvl, passive.maxLvl + 1) -%}
                        <ul id="{{ id }}-L-{{ level }}" class="hidden">
                        {%- for effect in passive.desc -%}
                            {%- set condsInter = effects.processEffect(passive, effect, id, int, eval, level.__str__()) -%}
                            {%- set ns = namespace(base="") -%}
                            {%- for condInter in condsInter -%}
                                {%- set ns.base = "%s%s" % (condInter, ns.base) -%}
                            {%- endfor -%}
                            {%- set outLine = leveled.inspectLineOfLeveled(passive, condsInter, level, int, eval) %}
                            {%- if outLine != false and outLine != "False" -%}
                                <li>{{ outLine }}</li>
                            {%- endif -%}
                        {%- endfor -%}
                        </ul>
                    {%- endfor -%}
                </div>
                {{ leveled.createLeveledSelect(passive, id) }}
                {{ leveled.createLeveledScript(id) }}
            {%- else -%}
                <ul>
                    {%- for effect in passive.desc -%}
                        <li>{{ effects.processEffect(passive, effect, id, int, eval) }}</li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
        </div>
    </div>
    {%- if passive.condition|length > 0 -%}
        <div class="spell-content" id="{{ id }}-C">
            {{ passiveHeader(passive) }}
            <div class="effectSwitch">
                <a href="#{{ id }}" class="bordered">Effet(s)</a><a href="#{{ id }}-C" class="locationLink bordered">Condition(s)</a>
            </div>
            <div class="spell-stats bordered">
                {%- if passive.leveled == True -%}
                    <div id="{{ id }}-C-L">
                        {%- for level in range(passive.minLvl, passive.maxLvl + 1) -%}
                            <ul id="{{ id }}-C-L-{{ level }}" class="hidden">
                            {%- for cond in passive.condition -%}
                                {%- set condsInter = effects.processEffect(passive, cond, "%s-C" % id, int, eval, level.__str__()) -%}
                                {%- set ns = namespace(base="") -%}
                                {%- for condInter in condsInter -%}
                                    {%- set ns.base = "%s%s" % (condInter, ns.base) -%}
                                {%- endfor -%}
                                {%- set outLine = leveled.inspectLineOfLeveled(passive, condsInter, level, int, eval) %}
                                {%- if outLine != false and outLine != "False" -%}
                                    <li>{{ outLine }}</li>
                                {%- endif -%}
                            {%- endfor -%}
                            </ul>
                        {%- endfor -%}
                    </div>
                    {{ leveled.createLeveledSelect(passive, "%s-C" % id) }}
                    {{ leveled.createLeveledScript("%s-C" % id) }}
                {%- else -%}
                    <ul>
                        {%- for cond in passive.condition -%}
                            <li>{{ effects.processEffect(passive, cond, id, int, eval) }}</li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endmacro -%}
{%- macro mobSpell(mob, int, eval) -%}
    <div class="container spell-container bg-Earthsign">
        <div class="table-deck">
            <div class="col-6 spell-selector bordered">
                <p>Sorts :</p>
                {%- for spell in mob.spells -%}
                    {%- set link = "#S-%i" % mob.spells.index(spell) -%}
                    <a href="{{ link }}"><img class="spell-ico" src="{{ spell.ico }}"/></a>
                {%- endfor -%}
                <p>Passifs :</p>
                {%- for time in mob.timeline -%}
                    <a href="#T-{{ mob.timeline.index(time) }}"><img class="spell-ico" src="{{ time.img }}"/></a>
                {%- endfor -%}
                {%- for passive in mob.passives -%}
                    {%- set link = "#P-%i" % mob.passives.index(passive) -%}
                    <a href="{{ link }}"><img class="spell-ico" src="{{ passive.ico }}"/></a>
                {%- endfor -%}
                <p>Case de bord de map :</p>
                {%- for case in mob.borderCase -%}
                    <a href="#C-{{ mob.borderCase.index(case) }}"><img class="spell-ico" src="{{ case.img }}"/></a>
                {%- endfor -%}
            </div>
            <div class="col-6 spell-display bordered">
                {%- for spell in mob.spells -%}
                    {{ showSpell(mob, spell, int, eval) }}
                {%- endfor -%}
                {%- for passive in mob.passives -%}
                    {{ showPassive(mob, passive, int, eval) }}
                {%- endfor -%}
                {%- for time in mob.timeline -%}
                    {%- set id = "T-%i" % mob.timeline.index(time) -%}
                    <div class="spell-content" id="{{ id }}">
                        <div class="spell-title center">
                            <img src="{{ time.img }}" class="spell-ico"/>
                            <div>{{ time.name }}</div>
                            <div>(Bonus de Vélocité)</div>
                        </div>
                        <div class="spell-img">
                        </div>
                        <div class="effectSwitch">
                            <a href="#{{ id }}" class="locationLink bordered">Effet(s)</a>
                        </div>
                        <div class="spell-stats bordered">
                            <ul>
                                <li>{{ time.desc }}</li>
                            </ul>
                        </div>
                    </div>
                {%- endfor -%}
                {%- for case in mob.borderCase -%}
                    {%- set id = "C-%s" % mob.borderCase.index(case) -%}
                    <div class="spell-content" id="{{ id }}">
                        <div class="spell-title center">
                            <img class="spell-ico" src="{{ case.img }}"/>
                            <p>{{ case.name }}</p>
                        </div>
                        <div class="spell-img center">
                            <img src="/static/gif/{{ case.name|lower }}.gif" class="spell-gif"/>
                        </div>
                        <div class="effectSwitch">
                            <a href="#{{ id }}" class="locationLink bordered">Détail(s)</a>
                        </div>
                        <div class="spell-stats bordered">
                        {%- if case.effect != none -%}
                            <ul>
                                {%- for effect in case.desc -%}
                                    <li>{{ effects.processEffect(case, effect, id, int, eval) }}</li>
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endmacro -%}